@import '../../styles/common.less';

.tips {
  padding: 6px 12px;
  background-color: rgba(var(--color-rgb-32), 0.72);
  transition: all .25s;

  &--hidden {
    padding: 0;
    height: 0;
  }

  &--error {
    background-color: @color-error;
  }
}
