@import './scroll-bar.less';


@color-primary: rgb(var(--primary-6));
@color-error: rgb(var(--red-5));

@borderRadius: 8px;

body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  .scroll-bar();

  background-color: rgba(var(--color-bg-1), 0.9);
  color: @color-primary;
}

.arco-tooltip-content {
  padding: 6px 12px;
}

body {
  --color-bg-ot: 255, 255, 255;
  --color-bg-ot--32: 223, 223, 223;

  &[arco-theme='dark'] {
    --color-bg-ot: 0, 0, 0;
    --color-bg-ot--32: 32, 32, 32;
  }
}
