@import './scroll-bar.less';

@bg-0-72: rgba(0, 0, 0, 0.72);
@bg-32-72: rgba(32, 32, 32, 0.72);
@bg-0-90: rgba(0, 0, 0, 0.9);
@bg-32-90: rgba(32, 32, 32, 0.9);
@bg-128-50: rgba(128, 128, 128, 0.5);
@bg-255-95: rgba(255, 255, 255, 0.9);

@color-primary: #37D4CF;
@icon-hover-cyan: @color-primary;
@color-border: #37D4CF;

@bg-info: @bg-32-72;
@bg-error: #F53F3F;

@borderRadius: 8px;

body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  .scroll-bar();

  background-color: rgba(var(--color-bg-1), 0.9);
  color: @color-primary;
}

.arco-tooltip-content {
  padding: 6px 12px;
}
