@import './scroll-bar.less';

@bg-0-72: rgba(0, 0, 0, 0.72);
@bg-32-72: rgba(32, 32, 32, 0.72);
@bg-128-50: rgba(128, 128, 128, 0.5);
@bg-error: #F53F3F;
@color-primary: #37D4CF;
@icon-hover-cyan: @color-primary;
@color-border: #37D4CF;

body {
  margin: 0;
  padding: 0;

  font-family: 'Courier New', Courier, monospace;

  .scroll-bar();
}

.arco-tooltip-content {
  padding: 6px 12px;
}
